* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #d1d1d1;
}

#credit {
    margin-top: 20px;
    font-size: 20px;
}

h1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    margin: 0;
    border: 1px solid black;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

img {
    width: 50vw;
    margin: 0 auto;
    white-space: nowrap;
}

.carousel-container {
    position: relative;
    white-space: nowrap;
    width: 50vw;
    margin: 20px auto 0 auto;
    border: 2px solid black;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.8);
}

.carousel-slide {
    display: flex;
    white-space: nowrap;
    width: 50vw;
    height: 300px;
}

#prevBtn {
    position: absolute;
    left: 5%;
    top: 45%;
    z-index: 10;
    font-size: 30px;
    color: white;
    opacity: 0.7;
}

#nextBtn {
    position: absolute;
    right: 5%;
    top: 45%;
    z-index: 10;
    font-size: 30px;
    color: white;
    opacity: 0.7;
}

span {
    color: red;
    font-size: 24px;
}

p {
    text-align: center;
    padding-bottom: 20px;
}

@media only screen 
    and (max-device-width: 760px)
    and (min-device-width: 360px) {
    .carousel-container, .carousel-slide, img {
        width: 100vw;
    }
}

@media only screen 
    and (min-device-width: 760px)
    and (max-device-width: 360px) {
    .carousel-container, .carousel-slide, img {
        width: 80vw;
    }
}